<pp-sprint *ngFor="let sprint of sprints" [sprint]="sprint">
  <div cdkDropList [cdkDropListData]="sprint.issues" (cdkDropListDropped)="drop($event)" class="drop-container">
    <pp-issue cdkDrag *ngFor="let issue of sprint.issues" [issue]="issue"
              (contextmenu)="openIssueContextMenu($event, issue)">
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
    </pp-issue>
  </div>
</pp-sprint>

<pp-backlog>
  <div cdkDropList [cdkDropListData]="backlog" (cdkDropListDropped)="drop($event)" class="drop-container">
    <pp-issue cdkDrag *ngFor="let issue of backlog" [issue]="issue"
              (contextmenu)="openIssueContextMenu($event, issue, true)">
      <div class="drop-placeholder" *cdkDragPlaceholder></div>
    </pp-issue>
  </div>
</pp-backlog>
