<div class="ghx-backlog-container ghx-open ui-droppable">
  <div class="ghx-backlog-header js-marker-backlog-header">
    <div class="ghx-name">Backlog</div>
    <div class="ghx-issue-count">6 issues</div>
    <div class="ghx-controls aui-group">
      <div class="aui-item">
        <button class="js-add-sprint aui-button" data-tooltip="" original-title="">Create sprint
        </button>
      </div>
      <div class="aui-item"><a
        class="aui-button js-show-more-config-trigger aui-dropdown2-trigger aui-dropdown2-trigger-arrowless"
        aria-haspopup="true" data-track-click="gh.sprint.showmore.config.click" role="menu" tabindex="0"
        aria-controls="gh-show-more-config-dropdown" aria-expanded="false"
        href="#gh-show-more-config-dropdown"><span
        class="aui-icon ghx-iconfont aui-icon-small aui-iconfont-more"></span></a>
        <div id="gh-show-more-config-dropdown" class="aui-style-default aui-dropdown2 aui-layer"
             tabindex="-1">
          <div class="aui-dropdown2-section">
            <div class="aui-dropdown2-heading"><strong>Show</strong></div>
            <ul>
              <li><a href="#" data-issues="100" data-track-click="gh.sprint.showmore.config.click.100"
                     class="aui-dropdown2-radio checked aui-dropdown2-checked" aria-checked="true"
                     tabindex="0">100 issues</a></li>
              <li><a href="#" data-issues="500" data-track-click="gh.sprint.showmore.config.click.500"
                     class="aui-dropdown2-radio" aria-checked="false" tabindex="0">500 issues</a>
              </li>
              <li><a href="#" data-issues="-1" data-track-click="gh.sprint.showmore.config.click.-1"
                     class="aui-dropdown2-radio" aria-checked="false" tabindex="0">All issues</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ghx-issues js-issue-list ghx-has-issues" data-skate-ignore="">
    <div class="ghx-plan-dropzone"></div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10002" data-issue-id="10002"
         data-issue-key="GTECH-3">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Story"><img alt="Issue Type: Story"
                                                                       src="http://localhost:2080/images/icons/issuetypes/story.svg"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-3" title="GTECH-3" class="js-key-link">GTECH-3</a></div>
          <div class="ghx-summary"
               title="As a product owner, I'd like to rank stories in the backlog so I can communicate the proposed implementation order >> Try dragging this story up above the previous story">
            <span class="ghx-inner">As a product owner, I'd like to rank stories in the backlog so I can communicate the proposed implementation order &gt;&gt; Try dragging this story up above the previous story</span>
          </div>
          <span class="aui-label ghx-label-0 ghx-label ghx-label-single" title="Version 3.0">Version 3.0</span>
          <span class="ghx-end ghx-estimate"><aui-badge class=" ghx-statistic-badge"
                                                        title="Story Points">5</aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10002" data-issue-id="10003"
         data-issue-key="GTECH-4">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Story"><img alt="Issue Type: Story"
                                                                       src="http://localhost:2080/images/icons/issuetypes/story.svg"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-4" title="GTECH-4" class="js-key-link">GTECH-4</a></div>
          <div class="ghx-summary"
               title="As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining >> Try setting the Story Points for this story in the &quot;Estimate&quot; field">
            <span class="ghx-inner">As a team, I'd like to estimate the effort of a story in Story Points so we can understand the work remaining &gt;&gt; Try setting the Story Points for this story in the "Estimate" field</span>
          </div>
          <span class="aui-label ghx-label-0 ghx-label ghx-label-single" title="Version 3.0">Version 3.0</span>
          <span class="ghx-end ghx-estimate"><aui-badge class=" ghx-statistic-badge"
                                                        title="Story Points">5</aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10002" data-issue-id="10004"
         data-issue-key="GTECH-5">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Story"><img alt="Issue Type: Story"
                                                                       src="http://localhost:2080/images/icons/issuetypes/story.svg"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-5" title="GTECH-5" class="js-key-link">GTECH-5</a></div>
          <div class="ghx-summary"
               title="As a team, I'd like to commit to a set of stories to be completed in a sprint (or iteration) >> Click &quot;Create Sprint&quot; then drag the footer down to select issues for a sprint (you can't start a sprint at the moment because one is already active)">
            <span class="ghx-inner">As a team, I'd like to commit to a set of stories to be completed in a sprint (or iteration) &gt;&gt; Click "Create Sprint" then drag the footer down to select issues for a sprint (you can't start a sprint at the moment because one is already active)</span>
          </div>
          <span class="ghx-end ghx-estimate"><aui-badge class=" ghx-statistic-badge"
                                                        title="Story Points">1</aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10002" data-issue-id="10005"
         data-issue-key="GTECH-6">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Story"><img alt="Issue Type: Story"
                                                                       src="http://localhost:2080/images/icons/issuetypes/story.svg"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-6" title="GTECH-6" class="js-key-link">GTECH-6</a></div>
          <div class="ghx-summary"
               title="As a scrum master, I'd like to break stories down into tasks we can track during the sprint >> Try creating a task by clicking the Sub-Tasks tab in the Detail View on the right">
            <span class="ghx-inner">As a scrum master, I'd like to break stories down into tasks we can track during the sprint &gt;&gt; Try creating a task by clicking the Sub-Tasks tab in the Detail View on the right</span>
          </div>
          <span class="ghx-end ghx-estimate"><aui-badge class=" ghx-statistic-badge"
                                                        title="Story Points">1</aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10004" data-issue-id="10007"
         data-issue-key="GTECH-8">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Bug"><img alt="Issue Type: Bug"
                                                                     src="http://localhost:2080/secure/viewavatar?size=xsmall&amp;avatarId=10303&amp;avatarType=issuetype"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-8" title="GTECH-8" class="js-key-link">GTECH-8</a></div>
          <div class="ghx-summary"
               title="As a product owner, I'd like to include bugs, tasks and other issue types in my backlog >> Bugs like this one will also appear in your backlog but they are not normally estimated">
            <span class="ghx-inner">As a product owner, I'd like to include bugs, tasks and other issue types in my backlog &gt;&gt; Bugs like this one will also appear in your backlog but they are not normally estimated</span>
          </div>
          <span class="aui-label ghx-label-0 ghx-label ghx-label-single" title="Version 2.0">Version 2.0</span>
          <span class="ghx-end ghx-estimate"><aui-badge
            class=" ghx-spacer ghx-statistic-badge"></aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="js-issue js-sortable js-parent-drag ghx-issue-compact ghx-type-10002" data-issue-id="10008"
         data-issue-key="GTECH-9">
      <div class="ghx-issue-content">
        <div class="ghx-row"><span class="ghx-type" title="Story"><img alt="Issue Type: Story"
                                                                       src="http://localhost:2080/images/icons/issuetypes/story.svg"></span>
          <div class="ghx-flags"><span class="ghx-priority" title="Medium"><img
            src="http://localhost:2080/images/icons/priorities/medium.svg" alt="Priority: Medium"></span></div>
          <div class="ghx-key"><a href="/browse/GTECH-9" title="GTECH-9" class="js-key-link">GTECH-9</a></div>
          <div class="ghx-summary"
               title="As a developer, I'd like to update story status during the sprint >> Click the Active sprints link at the top right of the screen to go to the Active sprints where the current Sprint's items can be updated">
            <span class="ghx-inner">As a developer, I'd like to update story status during the sprint &gt;&gt; Click the Active sprints link at the top right of the screen to go to the Active sprints where the current Sprint's items can be updated</span>
          </div>
          <span class="ghx-end ghx-estimate"><aui-badge class=" ghx-statistic-badge"
                                                        title="Story Points">3</aui-badge></span></div>
      </div>
      <div class="ghx-grabber ghx-grabber-transparent"></div>
      <div class="ghx-move-count"><b></b></div>
    </div>
    <div class="ghx-helper">
      <div class="ghx-description">All issues in the backlog are currently filtered</div>
    </div>
  </div>
  <div class="iic iic-agile-plan ghx-issues">
    <div class="iic-trigger">
      <button type="button" class="aui-button aui-button-subtle"><span
        class="aui-icon aui-icon-small aui-iconfont-add">Create issue</span> Create issue
      </button>
    </div>
    <div class="iic-widget iic-widget_hidden">
<!--      <form action="#" method="POST" class="iic-widget__form aui">-->
<!--        <div class="iic-widget__issue-type-selector-container">-->
<!--          <div class="iic-widget__issue-type-selector">-->
<!--            <button type="button"-->
<!--                    class="iic-widget__issue-type-selector__trigger aui-button aui-button-subtle aui-button-compact aui-dropdown2-trigger"-->
<!--                    aria-label="Choose issue type" aria-haspopup="true"-->
<!--                    aria-controls="iic-issue-type-dropdown-c82" aria-expanded="false"><img-->
<!--              src="http://localhost:2080/images/icons/issuetypes/story.svg" width="16" height="16" alt="Story">-->
<!--            </button>-->
<!--            <div id="iic-issue-type-dropdown-c82" data-aui-alignment="top left"-->
<!--                 class="aui-dropdown2 aui-style-default iic-widget__issue-type-selector__dropdown aui-layer"-->
<!--                 tabindex="-1">-->
<!--              <div class="aui-dropdown2-section">-->
<!--                <ul class="aui-list-truncate">-->
<!--                  <li><a href="#" class="aui-icon-container" data-id="10002"-->
<!--                         style="background-image: url('http://localhost:2080/images/icons/issuetypes/story.svg');">Story</a>-->
<!--                  </li>-->
<!--                  <li><a href="#" class="aui-icon-container" data-id="10003"-->
<!--                         style="background-image: url('http://localhost:2080/secure/viewavatar?size=xsmall&amp;avatarId=10318&amp;avatarType=issuetype');">Task</a>-->
<!--                  </li>-->
<!--                  <li><a href="#" class="aui-icon-container" data-id="10004"-->
<!--                         style="background-image: url('http://localhost:2080/secure/viewavatar?size=xsmall&amp;avatarId=10303&amp;avatarType=issuetype');">Bug</a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div><textarea name="summary" rows="1" cols="50" maxlength="255" class="iic-widget__summary"-->
<!--                       aria-label="What needs to be done?" placeholder="What needs to be done?"-->
<!--                       style="height: auto;"></textarea>-->
<!--          <div class="iic-widget__footer">-->
<!--            <div class="iic-widget__description-container">-->
<!--              <div class="iic-widget__description">New <span-->
<!--                class="iic-widget__description__selected-issue-type-name">Story</span> in-->
<!--                <button type="button" aria-label="Choose issue type" aria-haspopup="true"-->
<!--                        class="iic-widget__description__section-select-trigger aui-button aui-button-subtle aui-dropdown2-trigger aui-style-default"-->
<!--                        aria-controls="iic-widget__description__section-select-c82"-->
<!--                        aria-expanded="false">Backlog-->
<!--                </button>-->
<!--                <div id="iic-widget__description__section-select-c82" data-aui-alignment="top left"-->
<!--                     class="iic-widget__description__section-select aui-dropdown2 aui-style-default aui-layer"-->
<!--                     tabindex="-1">-->
<!--                  <ul class="aui-list-truncate">-->
<!--                    <li><a href="#" data-section-id="3">Second</a></li>-->
<!--                  </ul>-->
<!--                </div>&lt;!&ndash; .aui-dropdown2 &ndash;&gt;</div>-->
<!--            </div>-->
<!--            <button type="button" class="aui-button aui-button-text iic-widget__cancel">Cancel-->
<!--            </button>-->
<!--            <button type="button" class="aui-button aui-button-text iic-widget__more"-->
<!--                    original-title="Open in dialog">Open in dialog-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
    </div>
  </div>
</div>
