<div class="backlog-container">
  <div class="backlog-header">
    <div class="name">{{ sprint.name }}</div>
    <div class="issue-count">{{ sprint.issues|count }} issues</div>
    <pp-label *ngIf="sprint.state=='active'" class="label-success">{{ sprint.state|titlecase }}</pp-label>
    <div class="dates" *ngIf="sprint.state=='active'">
      <div class="date">{{ sprint.startDate | date:"d/MMM/y h:mm a" }}</div>
      <div class="divider">•</div>
      <div class="date">{{ sprint.endDate | date:"d/MMM/y h:mm a" }}</div>
    </div>
    <div class="sprint-goal overflow-ellipsis">{{ sprint.goal }}</div>
  </div>
  <div class="issues">
    <ng-content></ng-content>
  </div>
</div>
