:host {
  color: #172b4d;
  background: rgba(9,30,66,0.13);
  font-weight: 600;
  padding: 2px 6px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  text-decoration: none;
  text-shadow: none;
  line-height: 1;
  margin: 0;
  min-height: 1em;
  font-size: 12px;
  border-radius: 2em;
  min-width: 15px;
  white-space: pre-wrap;
  text-transform: lowercase;
  &.chip-gray {
    color: #fff;
    background: #42526e;
  }
  &.chip-blue {
    color: #fff;
    background: #0052cc;
  }
  &.chip-green {
    color: #fff;
    background: #00875a;
  }
}
