<div class="pp-issue-dropdown" [style]="style">
  <div class="ajs-layer box-shadow active" id="gh-ctx-menu-trigger_drop" role="menu" aria-hidden="false"
       style="width: 200px;">
    <div id="gh-ctx-menu-content" class="aui-list"><h5>Send to</h5>
      <ul class="aui-list-section aui-first ">
        <li id="ghx-issue-ctx-action-send-to-sprint-3-container" class="aui-list-item"><a
          data-ctx-action="ghx-issue-ctx-action-send-to-sprint-3" id="ghx-issue-ctx-action-send-to-sprint-3"
          class="aui-list-item-link js-context-menu-action" title="Second" href="#" role="menuitem"
          tabindex="-1">Second</a></li>
        <li id="ghx-issue-ctx-action-send-top-backlog-container" class="aui-list-item"><a
          data-ctx-action="ghx-issue-ctx-action-send-top-backlog" id="ghx-issue-ctx-action-send-top-backlog"
          class="aui-list-item-link js-context-menu-action" title="Top of Backlog" href="#" role="menuitem" tabindex="-1">Top
          of Backlog</a></li>
        <li id="ghx-issue-ctx-action-send-bottom-backlog-container" class="aui-list-item"><a
          data-ctx-action="ghx-issue-ctx-action-send-bottom-backlog" id="ghx-issue-ctx-action-send-bottom-backlog"
          class="aui-list-item-link js-context-menu-action" title="Bottom of Backlog" href="#" role="menuitem"
          tabindex="-1">Bottom of Backlog</a></li>
      </ul>
      <ul class="aui-list-section aui-first ">
        <li id="ghx-issue-ctx-action-delete-container" class="aui-list-item"><a
          data-ctx-action="ghx-issue-ctx-action-delete" id="ghx-issue-ctx-action-delete"
          class="aui-list-item-link js-context-menu-action" title="Delete" href="#" role="menuitem"
          tabindex="-1">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
